* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(15deg, #670f0f 0%, #351a1a 150%); */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.home {
  height: 100vh;
  background: url(images/bg-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* navbar css start */


nav {
  background-color: transparent;
  z-index: 2;
  position: fixed;
  width: 100%;
  padding: 10px 0px;
}

.sticky {
  background-color: #000c30;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 12px;
}

.nav-link {
  font-size: 1rem;
  font-family: sans-serif;
}

.nav-item:hover {
  border-bottom: 2px;
  border-bottom-color: #fff;
  border-bottom-style: solid;
}

.nav-logo-img {
  top: -1px;
  left: 10px;
  width: 60px;
  margin-left: 60px;
  position: absolute;
}

@media (max-width: 1150px) {
  .nav-item {
    padding: 0 8px;
  }

  .nav-link {
    font-size: .8rem;
    font-family: sans-serif;
  }
}


@media (max-width: 430px) {
  html {
    overflow-x: hidden;
  }

  .nav-logo-img {
    top: 1px;
    left: 10px;
    width: 60px;
    margin-left: 10px;
    /* position: absolute; */
  }
}

.nav-name {
  display: none;
}


/* navbar css ends */


/* homepage css start */
.content {
  position: absolute;
  top: 55%;
  left: 33%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h1 {
  font-size: 150px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.content .heading .heading-1 {
  font-size: 120px;
  color: white;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.content .heading .heading-2 {
  margin-top: -20px;
  font-size: 150px;
  color: #4076ff;
  font-weight: 700;
  margin-bottom: 30px;
}

.content p {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.content a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #4076ff;
  padding: 10px 20px;
  border-radius: 50px;
  border-color: #fff;
  margin-top: 20px;
  padding: 3px 30px 3px 30px;
  font-size: 20px;
  font-weight: 500;
}

.content a:hover {
  background: #fff;
  color: #4076ff;
  transition: 0.3s ease-in-out;
}


.sub-heading {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #4076ff;
}

#typing {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

/* register button css start */
.event-reg-btn {
  background: transparent !important;
}

.bn632-hover {
  width: 160px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  /* margin: 20px; */
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn20 {
  background-image: linear-gradient(to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

/* register button css end */


/* homepage css ends */


/* about css starts */

#about {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 12%;
}

.about-title {
  /* font-size: 40px;
  font-weight: 500; */
  font-size: 50px;
  color: #4076ff;
  text-align: center;
  margin-bottom: 40px;
  font-family: "ubuntu";
  font-weight: bold;
}

.table-about-head {
  font-size: 25px;
}

.table-about-body {
  font-size: 22px;
}

.hrtitle {
  width: 40px;
  border-top: 2px solid;
  padding-bottom: 15px;
}

.about-section-icon-list {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.icon-content {
  text-align: center;
}

/* about css ends */

/* theme section start */

.heading-theme {
  font-size: 50px;
  color: #4076ff;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.heading-theme .heading-theme-1 {
  padding: 0 20% 0 20%;
  /* border-bottom: #000000;
  border-bottom-style: solid;
  border-bottom-width: 2px; */
  padding-bottom: 10px;
  position: relative;
  top: 10px;
  font-family: "ubuntu";
  font-weight: bold;
}

/* Path: index.html */
/* carousal of themes */
:root {
  --background-dark: #1850d2;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.themes-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  justify-content: center;
}

.theme-card {
  margin: 20px 40px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border-color: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  transition: all 1s;
}

.theme-card .card-title {
  font-size: 25px;
  color: white;
  font-weight: 500;
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.theme-card:hover {
  transform: scale(1.1);
}

.blockchain {
  background-image: url("images/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ar-vr {
  background-image: url("images/3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fintech {
  background-image: url("images/2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.drones {
  background-image: url("images/4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.health-ed {
  background-image: url("images/8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.open-innovation {
  background-image: url("images/10.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.theme-card:hover .card-title {
  margin: 20px 30px;
  /* height: 300px;
  width: 300px; */
  border-radius: 10px;
  border-color: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  transition: 0.2s ease-in-out;
  visibility: visible;
  opacity: 1;
  height: 280px;
  width: 280px;
  background-color: #016becb8;
  border-radius: 10px;
  margin: 10px;
  transition: 0.3s ease-in-out;
}

.op-in {
  height: 50px;
  width: 180px;
  border-radius: 10px;
  font-size: 16px;
}

@media (max-width: 430px) {
  .heading-theme {
    font-size: 45px;
    color: #4076ff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .heading-theme .heading-theme-1 {
    padding: 0 20% 0 20%;
    /* border-bottom: #000000;
    border-bottom-style: solid;
    border-bottom-width: 2px; */
    padding-bottom: 10px;
    position: relative;
    top: 10px;
    font-family: "ubuntu";
    font-weight: bold;
  }

  /* Path: index.html */
  /* carousal of themes */
  :root {
    --background-dark: #1850d2;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }

  .themes-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    justify-content: center;
  }

  .theme-card {
    margin: 20px 40px;
    border-radius: 10px;
    border-color: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    transition: all 1s;
  }

  .theme-card .card-title {
    font-size: 25px;
    color: white;
    font-weight: 500;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  .blockchain {
    background-image: url("images/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ar-vr {
    background-image: url("images/3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fintech {
    background-image: url("images/2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .drones {
    background-image: url("images/4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .health-ed {
    background-image: url("images/8.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .open-innovation {
    background-image: url("images/10.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .theme-card .card-title {
    margin: 20px 30px;
    /* height: 300px;
    width: 300px; */
    border-radius: 10px;
    border-color: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    transition: 0.2s ease-in-out;
    visibility: visible;
    opacity: 1;
    height: 280px;
    width: 280px;
    background-color: #016becb8;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s ease-in-out;
  }
}

/* theme section ends */

/* prizes section start */

.prizes {
  /* background-image: url(images/sponsors-bg.png); */
  background: #6BB4E9;
  width: 100%;
  padding-bottom: 20px;
}

.sec-title {
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
}

.prize-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.prize-card {
  margin: 20px 40px;
  height: 300px;
  width: 280px;
  border-radius: 10px;
  border-color: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  transition: all 1s;
  /* background-color: white; */
  /* background-color: #40cbb4; */
  /* background-color: #d1b000; */
  /* background-color: #a0a0a0; */
  /* background-image: url(./images/prize-bg.jpeg); */
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.prize-card:hover {
  transform: scale(1.1);
  transition: .3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 430px) {
  .prize-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.prize-card-content {
  font-size: 30px;
  padding-top: 10px;
  color: #000;
  /* background-color: whitesmoke; */
  /* opacity: .8; */
}

.prize-card-content .first-icon {
  width: 130px;
  border: 10px solid;
  color: #f59f0a;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .prize-card-content:hover .first-icon{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .2s ease-in-out;
} */
.prize-card-content .second-icon {
  width: 130px;
  border: 10px solid;
  color: #cdcde9;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .prize-card-content:hover .second-icon{
  transform: rotate(360deg);
  transition: .8s ease-in-out;
} */
.prize-card-content .third-icon {
  width: 130px;
  border: 10px solid;
  color: #f9a159;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .prize-card-content:hover .third-icon{
  transform: rotate(360deg);
  transition: .8s ease-in-out;
} */
.prize-card-content h2 {
  padding-bottom: 30px;
}

.track-prize {
  display: flex;
  justify-content: center;
  place-items: center;
}

/* scdedule css start */

.heading-schedule {
  font-size: 50px;
  color: #4076ff;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.heading-schedule .heading-schedule-1 {
  padding: 0 20% 0 20%;
  position: relative;
  top: 10px;
  font-family: "ubuntu";
  font-weight: bold;
}

.schedule-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-content .schedule-desktop {
  width: 100px;
}

.schedule-mobile {
  display: none;
}


@media screen and (max-width: 430px) {
  .schedule-content .schedule-desktop {
    display: none;
  }

  .schedule-content .schedule-mobile {
    display: flex;
    width: fit-content;
  }
}

/* schedule css end */

/* sponsors section starts */

.sponsors {
  /* background-image: url(images/sponsors-bg.png); */
  background: #6BB4E9;
  width: 100%;
  height: 90vh;
  /* padding-bottom: 10px; */
}

.sec-title {
  text-align: center;
  /* padding-top: 50px; */
  margin-top: 50px;
  padding-bottom: 40px;
}

.sponsors-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sponsors-box {
  display: grid;
  place-items: center;
}

.title-sponsor {
  height: 300px;
  width: 1000px;
  border-radius: 10px;
  background-color: #fff;
}

.powered-sponsors {
  display: flex;
  padding-top: 60px;
}

.powered-sponsor1 {
  height: 300px;
  width: 470px;
  margin-right: 60px;
  border-radius: 10px;
  background-color: #fff;
}

.powered-sponsor2 {
  height: 300px;
  width: 470px;
  border-radius: 10px;
  background-color: #fff;
}

.associate-sponsors {
  display: flex;
  padding-top: 60px;
}

.associate-sponsor1 {
  height: 300px;
  width: 300px;
  margin-right: 25px;
  border-radius: 10px;
  background-color: #fff;
}

.associate-sponsor2 {
  height: 300px;
  width: 300px;
  margin-right: 25px;
  border-radius: 10px;
  background-color: #fff;
}

.associate-sponsor3 {
  height: 300px;
  width: 320px;
  border-radius: 10px;
  background-color: #fff;
}


@media screen and (max-width:1050px) {
  .title-sponsor {
    height: 300px;
    width: 800px;
    /* border-radius: 10px;
    background-color: #fff; */
  }

  .powered-sponsor1 {
    height: 300px;
    width: 370px;
    margin-right: 60px;
    /* border-radius: 10px;
    background-color: #fff; */
  }

  .powered-sponsor2 {
    height: 300px;
    width: 370px;
    /* border-radius: 10px;
    background-color: #fff; */
  }

  .associate-sponsor1,
  .associate-sponsor2 {
    height: 200px;
    width: 250px;
    margin-right: 30px;
    /* border-radius: 10px;
    background-color: #fff; */
  }

  .associate-sponsor3 {
    height: 200px;
    width: 250px;
    /* border-radius: 10px;
    background-color: #fff; */
  }
}


@media screen and (max-width:900px) {
  .title-sponsor {
    height: 300px;
    width: 680px;
    /* border-radius: 10px;
    background-color: #fff; */
  }

  .powered-sponsor1 {
    height: 300px;
    width: 310px;
    margin-right: 60px;
    /* border-radius: 10px;
    background-color: #fff; */
  }

  .powered-sponsor2 {
    height: 300px;
    width: 310px;
    /* border-radius: 10px;
    background-color: #fff; */
  }

  .associate-sponsor1,
  .associate-sponsor2 {
    height: 200px;
    width: 220px;
    margin-right: 20px;
    /* border-radius: 10px;
    background-color: #fff; */
  }

  .associate-sponsor3 {
    height: 200px;
    width: 220px;
    /* border-radius: 10px;
    background-color: #fff; */
  }
}

@media screen and (max-width:750px) {
  .title-sponsor {
    height: 300px;
    width: 580px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .powered-sponsor1 {
    height: 300px;
    width: 265px;
    margin-right: 40px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .powered-sponsor2 {
    height: 300px;
    width: 265px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .associate-sponsor1,
  .associate-sponsor2 {
    height: 200px;
    width: 180px;
    margin-right: 15px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .associate-sponsor3 {
    height: 200px;
    width: 180px;
    border-radius: 10px;
    /* background-color: #fff; */
  }
}

@media screen and (max-width:650px) {
  .title-sponsor {
    height: 300px;
    width: 440px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .powered-sponsor1 {
    height: 215px;
    width: 215px;
    margin-right: 20px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .powered-sponsor2 {
    height: 215px;
    width: 215px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .associate-sponsor1,
  .associate-sponsor2 {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .associate-sponsor3 {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    /* background-color: #fff; */
  }
}

@media screen and (max-width:430px) {
  .title-sponsor {
    height: 300px;
    width: 340px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .powered-sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .powered-sponsor1 {
    height: 150px;
    width: 320px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .powered-sponsor2 {
    height: 150px;
    width: 320px;
    margin-top: 30px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .associate-sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .associate-sponsor1,
  .associate-sponsor2 {
    height: 200px;
    width: 230px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 10px;
    /* background-color: #fff; */
  }

  .associate-sponsor3 {
    height: 200px;
    width: 230px;
    margin-top: 20px;
    border-radius: 10px;
    /* background-color: #fff; */
  }
}


.sponsor-us-btn {
  height: 300px;
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sponsor-us-button {
  text-decoration: none;
}

.plus-sign-sp-btn {
  border-radius: 10px;
  width: 100px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.sp-us-btn {
  padding: 20px;
  color: grey;
  font-weight: 500;
  font-size: 25px;
}

.sponsor-us-btn:hover {
  transform: scale(1.1);
  transition: .3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* sponsor button css ends */

/* sponsors section ends */

/* community section starts */
.community {
  height: 100vh;
  background: #6BB4E9;
}

.title-community-div .title-community {
  color: #fff;
  font-family: "ubuntu";
  font-weight: bold;
}

.community-content {
  display: grid;
  justify-content: center;
  place-items: center;
}

.community-partners-logo-head {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.community-partners-logo-bottom {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.cp {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin-right: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  background-color: #fff;
}

 .cp .logo {
  line-height: 130px;
 }

.ocd-logo {
  height: 130px;
  border-radius: 10px;
}

.call-colab {
  height: 150px;
  display: grid;
  text-align: center;
}

.call-colab:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: .3s ease-in-out;
}

.call-for-collab-img {
  width: 100px;
  position: relative;
  left: 0px;
  top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media screen and (max-width: 430px) {
  .community {
    height:110vh;
  }
  .community-partners-logo-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    place-items: center;
  }

  .cp {
    text-align: center;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    /* margin-right: 50px; */
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;
  }

  .cp .logo {
    line-height: 100px;
   }  

  .call-for-collab-img {
    width: 60px;
    position: relative;
    top: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .ocd-logo {
    height: 100px;
  }
}




/* community section ends */

/* advisor section start */

.advisor {
  height: 250px;
  width: 200px;
  /* border: 1px solid; */
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  text-decoration: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-right: 20px;
}

.advisor-box {
  text-decoration: none;
}

.advisor:hover {
  transform: scale(1.1);
  transition: .3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.advisor-name {
  /* padding: 20px; */
  color: grey;
  font-weight: 500;
  font-size: 25px;
}

@media (max-width: 430px) {
  .advisor-name {
    /* padding: 20px; */
    color: grey;
    font-weight: 500;
    font-size: 20px;
  }
}

/* advisor section end */




/* footer */
.footer {
  background-color: #000c30;
  padding-top: 20px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.footer .contact {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.footer .contact .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.footer .contact h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin: auto 20px;
}

.footer .contact .heading-contact-1 {
  padding: 0 20% 0 20%;
  border-bottom: #fff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}

.footer .container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

footer .footer-logo {
  margin-top: -20px;
}

.footer .footer-logo img {
  width: 150px;
  margin-left: 20px;
}

.footer p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.footer li {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-left: 20px;
  list-style: none;
}

.footer a {
  color: #d9d9d9;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.footer .footer-links a:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.footer-social a {
  color: #d9d9d9;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  padding: 5px;
}

.footer-social a:hover {
  color: #fff;
}

.footer-social li:hover {
  border-bottom: none;
  color: #fff;

  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}

.footer-social li a:hover {
  text-decoration: none !important;
}

.footer-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 90%;
  margin: auto;
  color: #fff;
  border-top: #fff;
  border-top-style: solid;
  border-top-width: 1px;
}

/* media query  */

@media (max-width: 900px) {
  .body {
    width: 100%;
  }

  nav {
    background-color: #000c30;
  }

  .nav-bar {
    width: 100% !important;
  }

  .collapse {
    margin-top: 20px;
    margin-left: 35px;
    transition: -0.3s;
  }

  .prize-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .prize-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .content h1 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .content .heading .heading-1 {
    margin-top: 40px;
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .sub-heading {
    margin-top: 40px;
    /* height: 100px; */
  }

  .btns {
    margin-top: 30px;
  }

  .footer .container .row {
    width: 100% !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .footer .container .row div {
    margin-left: 0px;
    width: 80px !important;
  }

  /* .footer .footer-logo img {
    margin-top: 10px;
    margin-left: 20px;
    width: 80px;
  } */

  .footer p {
    font-size: 15px;
  }

  .footer li {
    font-size: 15px;
  }

  .footer a {
    font-size: 15px;
  }

  .footer-social a {
    font-size: 15px;
  }

  .footer-2 {
    font-size: 15px;
  }

  .footer .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px auto;
  }

  .footer .contact .container {
    display: grid;
    margin-left: 0px;
  }

  .footer .contact .container .phone {
    margin-bottom: 10px;
  }

  .footer .contact .container .email {
    margin-bottom: -20px;
  }

  .footer .footer-social {
    margin: 5px;
  }

  .footer .footer-social .social {
    display: none;
  }
}

.section-team {
  font-family: "Poppins", sans-serif;
  /* padding-top: 150px; */
  margin-top: 200px;
  /* background: #6BB4E9; */
  /* padding-bottom: 400px; */
  text-align: center;
}

.title-team-member {
  font-size: 50px;
  color: #4076ff;
  text-align: center;
  /* margin-top: 50px; */
  /* margin-bottom: 40px; */
  font-family: "ubuntu";
  font-weight: bold;
}

.section-team .header-section {
  margin-bottom: 50px;
}

.section-team .header-section .small-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #3e64ff;
}

.title-faq {
  font-size: 50px;
  color: #4076ff;
  text-align: center;
  /* margin-top: 50px;
  margin-bottom: 40px; */
  font-family: "ubuntu";
  font-weight: bold;
}

.section-team .header-section .title {
  font-weight: 700;
  font-size: 45px;
}

.section-team .single-person {
  margin-top: 30px;
  padding: 25px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.section-team .single-person:hover {
  background: linear-gradient(to right, #2039a1, black);
}

.section-team .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 4px dashed transparent;
  transition: padding 0.3s;
}

.section-team .single-person:hover .person-image {
  padding: 12px;
  border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}

.section-team .single-person .person-image .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(to right, #016cec, #00b5f7);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
}

/*TEAM'S CSS PART*/
.section-team .single-person:hover .person-image .icon {
  background: none;
  background-color: #fff;
  color: #016cec;
}

.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 700;
}

.section-team .single-person .person-info .speciality {
  text-transform: uppercase;
  font-size: 14px;
  color: #46100d;
}

.title-t {
  color: #861e19;
  /* font-family: "montserrat-light"; */
  font-family: "ubuntu";
  font-size: 45px;
  font-weight: bold;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
  color: #fff;
}

.page {
  padding: 6rem 2rem;
}

.single-person {
  height: 90%;
}

.section-team {
  position: relative;
  bottom: 100px;
}

/*CSS OF PRIZE SECTION*/

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

/*--blog----*/

.sec-title {
  position: relative;
}

.sec-title .title {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 1em;
  color: #ff8a01;
  font-weight: 500;
  background: rgb(247, 0, 104);
  background: -moz-linear-gradient(to left,
      rgba(247, 0, 104, 1) 0%,
      rgba(68, 16, 102, 1) 25%,
      rgba(247, 0, 104, 1) 75%,
      rgba(68, 16, 102, 1) 100%);
  background: -webkit-linear-gradient(to left,
      rgba(247, 0, 104, 1) 0%,
      rgba(68, 16, 102, 1) 25%,
      rgba(247, 0, 104, 1) 75%,
      rgba(68, 16, 102, 1) 100%);
  background: linear-gradient(to left,
      rgba(247, 0, 104) 0%,
      rgba(68, 16, 102, 1) 25%,
      rgba(247, 0, 104, 1) 75%,
      rgba(68, 16, 102, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70068', endColorstr='#441066', GradientType=1);
  color: transparent;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 15px;
}

.sec-title h2 {
  position: relative;
  display: inline-block;
  font-size: 48px;
  line-height: 1.2em;
  color: #1e1f36;
  font-weight: 700;
}

.sec-title .text {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  color: #888888;
  margin-top: 30px;
}

.sec-title.light h2,
.sec-title.light .title {
  color: #ffffff;
  -webkit-text-fill-color: inherit;
}



/* general styling */

:root {
  ---Very-dark-blue: hsl(238, 29%, 16%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

/* glimpse */
.glimpse {
  height: 110vh;
  background: url(images/gli-bg.png);
  padding: 0 18%;
}

.glimpses-title {
  padding: 50px 0 0 0;
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.carousel-inner {
  width: auto;
  height: auto;
  border: 5px solid;
  border-radius: 10px;

  border-color: white;
}

.carousel-item {
  /* width: 600px;
  height: 550px;
  border: 5px solid;
  border-radius: 10px;
  border-color: white; */
}

.carousel-img {
  height: inherit;
}


.glimps-hr {
  width: 40px;
  border-top: 4px solid;
  color: white;
  padding-bottom: 20px;
}

@media (max-width: 950px) {
  .carousel-item {
    width: 600px;
    height: 350px;
    /* border: 5px solid;
    border-color: white; */
  }
}

@media (max-width: 850px) {
  .glimpse {
    height: 110vh;
    background: url(images/gli-bg.png);
    padding: 0 12%;
  }

  .glimpses-title {
    padding: 50px 0 0 0;
    color: white;
    font-size: 35px;
    font-weight: 600;
  }

  .carousel-item {
    width: 600px;
    height: 360px;
    /* border: 5px solid;
    border-color: white; */
  }

  .glimps-hr {
    width: 40px;
    border-top: 4px solid;
    color: white;
    padding-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .about {
    max-width: 420px;
  }

  .about-title {
    font-size: 45px;
  }

  .about p {
    font-size: 15px;
  }

  .about-section-icon-list {
    display: none;
  }

  .about .table-about-head {
    font-size: 15px;
  }

  .about .table-about-body {
    font-size: 14px;
  }

  .glimpse {
    height: 60vh;
    background: url(images/gli-bg.png);
    padding: 0 10%;
  }

  .glimpses-title {
    padding: 50px 0 0 0;
    color: white;
    font-size: 35px;
    font-weight: 600;
  }

  .carousel-item {
    width: 600px;
    height: 200px;
    /* border: 5px solid;
    border-color: white; */
  }

  .glimps-hr {
    width: 40px;
    border-top: 4px solid;
    color: white;
    padding-bottom: 20px;
  }
}



/* faq section css start */
.faq {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}


.faq__question {
  margin: 5px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  width: 95%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  padding-left: 40px;
  transition: all 0.2s ease;
}

.faq__question:after {
  content: "\02795";
  position: absolute;
  left: 10px;
  font-size: 14px;
}

.faq__question:hover {
  color: white;
}

.faq__question_active:after {
  content: "\2796";
  color: white;
  position: absolute;
  left: 10px;
  font-size: 14px;
}



.faq__panel {
  display: none;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  padding-left: 8%;
  max-width: 70%;
  overflow: hidden;
}

.faq__question:hover {
  background-color: #016cec;
  color: white;
}

.faq__panel_active {
  display: block;
}

/* faq section css end */